* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: linear-gradient(#000 50%, #ffb92a 50%);
}
.container {
  font-size: 16px;
  max-width: 37.5em;
  width: 90vw;
  padding: 3em 1.8em;
  background-color: #201f28;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
}
.search-container {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.2em;
}
.search-container input,
.search-container button {
  font-size: 0.9em;
  outline: none;
  border-radius: 0.3em;
}
.search-container input {
  background-color: transparent;
  border: 1px solid  #a0a0a0;
  padding: 0.7em;
  color: #fff;
}
.search-container input:focus {
  border-color: #fff;
}
.search-container button {
  outline: none;
  background-color: #ffb92a;
  border: none;
  cursor: pointer;
}
.title {
  color: red ;
}
